body {
	font-family: $sans-serif;
	color: $blackish;
	// max-width: 1400px;
	// padding: 50px;

	// background-repeat: no-repeat;
	// color: $blackish;
	// text-align: center;

	input {
		color: $blackish;
	}

	header {
		text-align: center;
		background-color: #3D5F87;
	    color: white;
	    border-bottom: 20px solid #C76363;
	    padding: 40px;
		h1 {
			font-family: 'Raleway', sans-serif;
			font-weight: 800;
			font-size: 42px;
			margin: 0;
    		margin-bottom: 10px;
    		// @media #{$medium-up} {
      //           font-size: 42px;
      //       }
		}
		h2 {
			font-weight: 400;
			margin: 0;
			font-size: 20px;
		}
	}
	.content-container {
		max-width: 1400px;
    	padding: 0 5%;
	}

	.candidate {
		padding: 0 3%;
    	margin-top: 60px;
		&:nth-of-type(even){
			h4 {
				color: #C76363;
			}
		}
		&:nth-of-type(odd){
			h4 {
				color: #4E89CC;
			}
		}
		h3 {
			display: inline-block;
		    margin: 0;
		    margin-top: 18px;
		    font-size: 24px;
		    font-family: 'Raleway', sans-serif;
		    font-weight: 400;
		}
		h4 {
			display: inline-block;
			margin: 0;

		}

	}

	&.dark {
		color: $blackish;
	}
	.quote {
		margin-bottom: 15px;
	}

	.add-quote {
		text-align: center;
		margin: 85px 0;
		a {
			text-align: center;
		    padding: 20px 50px;
		    background-color: #3D5F87;
		    border-radius: 5px;
		    text-decoration: none;
		    color: white;
		    // box-shadow: 4px 4px #C76363;
		    font-size: 24px;
		    &:hover {
		    	opacity: .7;
		    }
		}
	}

}

footer {
	text-align: center;
	background-color: #C76363;
    color: white;
    border-top: 20px solid #3D5F87;
    padding: 28px;
    a {
    	color: white;
    	text-decoration: none;
    	margin: 0 20px;
    	border-bottom: 1px solid white;
    	font-size: 20px;
    }
    aside {
    	// margin: 45px 0 35px 0;
    	font-size: 14px;
    }
    .social-links {
    	list-style: none;
    	padding-left: 0;
    	margin: 70px 0 20px 0;
    	li {
    		display: inline-block;
    	}
    	a {
    		border-bottom: none;
    		font-size: 32px;
    	}
    }
}

// footer {
// 	position: fixed;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	background-color: $white;
// 	opacity: 0.5;
// 	padding: 16px;
// 	.mini-footer a {
// 		font-size: 16px;
// 		&:hover {
// 			cursor: pointer;
// 		}
// 		.caret {
// 			padding-left: 15px;
// 			&:after {
// 				@include triangle;
// 				top: 22px;
//     			border: 7px solid transparent;
//     			border-color: $blackish transparent transparent;
// 			}
// 			&.up {
// 				&:after {
// 					border-bottom: 7px solid $blackish;
//     				border-top: 0px;
// 				}
// 			}
// 		}
// 	}
// 	.expanded-footer {
// 		position: relative;
// 		line-height: 26px;
// 		background-color: $white;
// 		color: $blackish;
// 		width: 55%;
// 		margin: 0 auto;
// 		font-size: 14px;
// 	}
// 	ul {
// 		padding-left: 0;
// 		list-style: none;
// 		margin-bottom: 0;
// 		li {
// 			display: inline-block;
// 			padding: 0 10px;
// 			font-size: 28px;
// 			&:last-child {
// 				font-size: 28px;
// 			}
// 		}
// 		a {
// 			text-decoration: none;
// 			color: $blackish;
// 		}
// 	}
// 	.closed {
// 		display: none;
// 	}
// 	.open {
// 		display: block;
// 	}
// }
