body {
	font-family: $sans-serif;
	color: $blackish;
	letter-spacing: .02em;

	input {
		color: $blackish;
	}

	header {
		text-align: center;
		background-color: $darkBlue;
	    color: $white;
	    border-bottom: 20px solid $red;
	    padding: 40px;
		h1 {
			@include headlineType(800);
			font-size: 42px;
			margin: 0;
    		margin-bottom: 10px;
    		// @media #{$medium-up} {
      //           font-size: 42px;
      //       }
		}
		h2 {
			font-weight: 400;
			margin: 0;
			font-size: 20px;
		}
	}
	.content-container {
		max-width: 1400px;
    	padding: 0 5%;
	}

	.candidate {
		padding: 0 3%;
    	margin-top: 60px;
		&:nth-of-type(even){
			h4 {
				color: $red;
			}
		}
		&:nth-of-type(odd){
			h4 {
				color: $mediumBlue;
			}
		}
		h3 {
			display: inline-block;
		    margin: 0;
		    margin-top: 18px;
		    font-size: 24px;
		    @include headlineType(400);
		}
		h4 {
			display: inline-block;
			margin: 0;

		}
	}

	.quote {
		margin-bottom: 20px;
		.quote-data {
			color: $lightGray;
			font-style: italic;
		}
	}

	.polls-links {
		text-align: center;
		margin-top: 50px;
		a {
			text-decoration: none;
			border-bottom: 1px solid;
			color: $red;
			&.blue {
				color: $mediumBlue;
			}
		}
	}

	.add-quote {
		text-align: center;
		margin: 85px 0;
		a {
			text-align: center;
		    padding: 20px 50px;
		    background-color: $darkBlue;
		    border-radius: 5px;
		    text-decoration: none;
		    color: $white;
		    // box-shadow: 4px 4px $red;
		    font-size: 24px;
		    @include fadeOpacity(.25s);
		}
	}

}

footer {
	text-align: center;
	background-color: $red;
    color: $white;
    border-top: 20px solid $darkBlue;
    padding: 28px;
    aside {
    	// margin: 45px 0 35px 0;
    	font-size: 14px;
    }
    .social-links {
    	list-style: none;
    	padding-left: 0;
    	margin: 38px 0 20px 0;
    	li {
    		display: inline-block;
    	}
    	a {
    		margin: 0 15px;
    		color: $white;
    		text-decoration: none;
    		font-size: 32px;
    		@include fadeOpacity(.1s);
    	}
    }
}
