body {
	font-family: $sans-serif;
	color: $blackish;
	letter-spacing: .02em;

	input {
		color: $blackish;
	}

	header {
		text-align: center;
		background-color: $darkBlue;
	    color: $white;
	    border-bottom: 20px solid $red;
	    padding: 40px;
		h1 {
			@include headlineType(800);
			font-size: 42px;
			margin: 0;
    		margin-bottom: 10px;
    		// @media #{$medium-up} {
      //           font-size: 42px;
      //       }
		}
		h2 {
			font-weight: 400;
			margin: 0;
			font-size: 20px;
		}
	}

	button {
		@include button;
	}
	.content-container {
		max-width: 1400px;
    	padding: 0 5%;
    	margin: 0 auto;
	}

	.candidate {
		padding: 0 3%;
    	margin-top: 60px;
		&:nth-of-type(even){
			h4 {
				color: $red;
			}
		}
		&:nth-of-type(odd){
			h4 {
				color: $mediumBlue;
			}
		}
		h3 {
			display: inline-block;
		    margin: 0;
		    margin-top: 18px;
		    font-size: 24px;
		    @include headlineType(400);
		}
		h4 {
			display: inline-block;
			margin: 0;

		}
	}

	.quote {
		margin-bottom: 20px;
		.quote-data {
			color: $lightGray;
			font-style: italic;
		}
		&.hidden {
			display: none;
		}
	}

	.drawer-toggle {
		position: relative;
		cursor: pointer;
		width: 75px;
	    height: 50px;
	    margin: 0 auto;
		&:before {
		 	@include caret(12px, 24px, $darkGray)
		}
		&:after {
			@include caret(14px, 22px, $white)
		}
		&.rotate {
			-webkit-transform: rotate(180deg);
		    -moz-transform: rotate(180deg);
		    -o-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		    transform: rotate(180deg);
		}
	}


	.polls-links {
		text-align: center;
		margin-top: 50px;
		a {
			text-decoration: none;
			border-bottom: 1px solid;
			color: $red;
			&.blue {
				color: $mediumBlue;
			}
		}
	}

	.add-quote {
		text-align: center;
		margin: 85px 0 30px 0 
	}
	.form-section {
		max-width: 600px;
    	margin: 0 auto;
    	padding: 0 25px 80px 25px;
    	#new-quote-form {
    		margin-top: 75px;
			select {
				width: 250px;
				height: 40px;
				background-color: white;
			}
			label, input, textarea {
				display: block;
				width: 100%;
			}
			label {
				margin-bottom: 10px;
				strong {
					font-size: 18px;
				}
			}
			input, textarea, select {
				margin-bottom: 30px;
				padding: 10px;
			}
			input {
				height: 40px;
			}
			textarea {
				height: 100px;
			}
			input[type=submit] {
				@include button;
				height: 60px;
			    width: 140px;
			    padding: 10px;
			    margin: 0 auto;
			    font-size: 18px;
			    margin-top: 45px;
			}
			display: none;

		}
	}
}

footer {
	text-align: center;
	background-color: $red;
    color: $white;
    border-top: 20px solid $darkBlue;
    padding: 28px;
    aside {
    	// margin: 45px 0 35px 0;
    	font-size: 14px;
    }
    .social-links {
    	list-style: none;
    	padding-left: 0;
    	margin: 38px 0 20px 0;
    	li {
    		display: inline-block;
    	}
    	a {
    		margin: 0 15px;
    		color: $white;
    		text-decoration: none;
    		font-size: 32px;
    		@include fadeOpacity(.1s);
    	}
    }
}

.quote-submitted {
	position: relative;
	.success-msg {
		text-align: center;
		padding: 50px;
		h3 {
			@include headlineType(400);
			padding-bottom: 30px;
		}
		a {
			@include button;
			text-decoration: none;
		}
	}
	footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
