$white: #fff;
$blackish: #444;
$red: #C76363;
$darkBlue: #3D5F87;
$mediumBlue: #4E89CC;
$lightGray: #aaa;
$darkGray: #888;

$sans-serif: 'Lato', sans-serif;


@mixin headlineType($weight) {
	font-family: 'Raleway', sans-serif;
	font-weight: $weight;
}

@mixin fadeOpacity($speed) {
	transition: opacity $speed ease-in-out;
    &:hover {
    	opacity: .7;
    }
}

@mixin button() {
	text-align: center;
    padding: 20px 50px;
    background-color: $darkBlue;
    border-radius: 5px;
    color: $white;
    border: none;
    font-size: 24px;
    @include fadeOpacity(.25s);
}

@mixin caret($left, $border, $color) {
	content: '';
  	position: absolute;
  	top: 25%;
  	left: $left;
  	border-top: $border solid $color;
  	border-left: $border solid transparent;
  	border-right: $border solid transparent;
}


@import "_normalize";
@import "_foundation";
@import "_styles";
@import "_icons";
@import "_media-queries";