$white: #fff;
$blackish: #444;
$sans-serif: 'Lato', sans-serif;

@mixin fadeOpacity($speed) {
	-webkit-transition: opacity $speed ease-in-out;
    &:hover {
    	opacity: .7;
    }
}

@import "_normalize";
@import "_foundation";
@import "_styles";
@import "_icons";
@import "_media-queries";